# Created by venv; see https://docs.python.org/3/library/venv.html

# Backend
# Python venv
venv/
# Python cache files
__pycache__/
*.pyc
*.pyo
# Environment variables / API keys
.env

# Frontend (React + Tailwind)
# Node dependencies
node_modules/
# Build / production files
build/
dist
dist-ssr
*.local

# Optional: logs or temp files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
